[2021-09-02 22:29] yuriescl commented on #513
Seems like it's just missing when installed via pip. It's in the source code but not in `python3.9/site-packages/polaris`

[2021-09-02 22:34] yuriescl commented on #513
How to reproduce:
- Create a new clean virtual environment
- Activate virtual environment
- pip install django-polaris==2.0.0
- go to virtualenv directory and look for `site-packages/polaris`
- `scripts` dir is missing from `static/polaris`

[2021-09-02 22:36] JakeUrban commented on #513
Ah, I need to add the `scripts` directory to the `MANIFEST.in` file which is what specifies which static files to include in the packaged source code.

[2021-09-02 22:46] #513 closed

[2021-09-03 02:41] yuriescl opened #515 "Django input templates not overridden"
Polaris v2 introduced the folder `polaris/templates/django/forms/widgets` but in order for those templates to override Django templates, `settings.FORM_RENDERER` must be set to `django.forms.renderers.TemplatesSetting`.

This is what TransactionForm looks like with the default form renderer (`django.forms.renderers.DjangoTemplates`):
![test2](https://user-images.githubusercontent.com/26092447/1319

[2021-09-03 03:02] yuriescl commented on #515
Nevermind I just saw this is documented.

[2021-09-03 03:02] #515 closed

[2021-09-04 02:09] yuriescl opened #516 "poll_pending_deposits concurrency"
I'd like to poll deposits in parallel but it seems Polaris doesn't allow it.
I imagine that's the reason I get so many database is locked errors, but I have no concrete evidence yet.
Looking at this code section from `polaris/management/commands/process_pending_deposits.py`:
[code]

I can see that Polaris selects the items for update, then uses an atomic block to pass the queryset.
Buy if I try, f

[2021-09-04 02:11] yuriescl commented on #516
I tested with both SQLite and PostgreSQL. Both get a deadlock at `save()`:
[code]

[2021-09-04 02:20] yuriescl commented on #516
Maybe `process_pending_deposits` shouldn't lock the entire queryset and pass it to the integration function.
Each transaction should be handled individually. We could maybe call the integration function asynchronously for each transaction.
I feel very limited not being able to fetch in parallel. Something that could take 1s takes 60s (60 transactions and 1 second to poll each).

[2021-09-05 12:39] yuriescl opened #517 "SEP-24 Allow template name override"
SEP-24 currently uses hardcoded template names.
For example, in [endpoints.py](https://github.com/stellar/django-polaris/blob/master/polaris/polaris/shared/endpoints.py#L77):
[code]

The only way to override the template is by extending it in `app/templates/polaris/more_info.html`. But in order to have different templates for each asset/deposit/rail, the Anchor needs to use multiple `{% include %}

[2021-09-05 12:45] yuriescl commented on #517
This is the kind of code I'd like to avoid in `app/templates/polaris/more_info.html`:
[code]

[2021-09-05 14:41] yuriescl commented on #456
Seems like this was implemented, thanks a lot!

[2021-09-05 14:41] #456 closed

[2021-09-05 17:09] yuriescl opened #518 "Async support"
Does Polaris support async requests?
If not, what are the implications on the Django performance? Will the app be limited to the number of workers (in case of gunicorn, for example)?
This came into mind when I was thinking about doing an async Django deployment, but it wouldn't make sense if Polaris doesn't support it.

[2021-09-07 16:46] JakeUrban commented on #516
Hi @yuriescl I didn't find the exact reason why you're getting deadlock errors but I suspect it has to do with using rows locked in one connection in another. [Django's docs](https://docs.djangoproject.com/en/3.2/ref/databases/#caveats) mention that it creates a different DB connection per thread, but the connection that collects the `pending_deposits` is locking the rows (or in SQLite's case, the

[2021-09-07 16:51] JakeUrban commented on #517
I agree, it makes more sense to allow the anchor to specify which template is rendered instead of hard-coding it. Is your current solution becoming un-maintainable or can we postpone this change to 3.0 since it's breaking?

[2021-09-07 16:59] JakeUrban commented on #518
Polaris' views are synchronous, although you could still run your server using the ASGI (vs. WSGI) standard, although Django does mention some [performance considerations](https://docs.djangoproject.com/en/3.2/topics/async/#performance).

I don't think this would help make the API server more performant though since Polaris' views don't `await` anything and therefore wouldn't yield control of the

[2021-09-07 17:45] yuriescl commented on #518
I agree, it's not worth changing Polaris to be fully asynchronous

My concern is how many requests the Anchor could handle per second. I'm using gunicorn with 3 workers, this means it can only handle 3 simultaneous requests, right?
I guess if I wanna be able to handle more, I'd have to use more CPU cores and increase the amount of workers. Or maybe increase the amount of threads per worker?
Async

[2021-09-07 18:36] JakeUrban commented on #518
I think you're correct, 3 synchronous workers means 3 simultaneous requests. Based on the [Gunicorn docs](https://docs.gunicorn.org/en/latest/design.html?highlight=workers#how-many-workers) it doesn't sound like you can use threads with synchronous workers.

Right now the main scaling bottleneck is deposit transaction submission, since the sequence numbers on distribution accounts have to be consu

[2021-09-07 19:16] yuriescl commented on #518
Yes, I do get concerned when I imagine a scenario of 100 users trying to create a transaction (which can easily happen if the token is popular). The Anchor will need too many CPUs to handle the requests, but it would be so much cheaper to have like 1 CPU and everything async, since 1 CPU can easily handle 100 async requests.
The python stellar sdk has support for both sync and async, maybe there c

[2021-09-07 19:33] JakeUrban opened #519 "Detect user timezone in templates and persist in client app session"
Django provides the [TIME_ZONE](https://docs.djangoproject.com/en/3.2/ref/settings/#std:setting-TIME_ZONE) as a default when datetimes are stored in the database in UTC, but it doesn't detect the users timezone in the case where it doesn't match the default.

Polaris can detect the user's timezone using JavaScript's `Date.getTimezoneOffset()` and pass this to the server so it can be persisted in t

[2021-09-07 19:37] JakeUrban commented on #518
Async support in Polaris' views is definitely on the table, I think its just of matter of determining the priority and making sure its implemented when needed. We're working on a few other important adjustments at the moment but I think about this more and revisit it soon.

[2021-09-08 04:09] yuriescl commented on #517
This can be postponed to 3.0

[2021-09-08 13:22] yuriescl commented on #516
Thanks for the suggestion, but I think even using async won't fix the issue.
Inside my integration function, if it fails to poll a deposit, it sets `transaction.status = "error"` then tries to save the transaction. That's not gonna work since the transaction is locked in the database (which makes sense).
I just need a way to set status as error for a single transaction without exiting the integrat

[2021-09-08 13:33] yuriescl commented on #516
Ok, I appreciate the suggestion, will fiddle around with async and see if I can get more speed on the polling. Thanks!

[2021-09-08 13:33] #516 closed

[2021-09-09 21:19] lijamie98 commented on #476
The fields of `Quote` seem general enough. But we may also make it extensible for extra information, such as FX source, etc. If we add a `memo` field for data and `memo_type` for how to parse the memo, this will allow the anchor to add extensible information without having to re-write the `Quote` model.

Another possibility is to have everything available in Polaris. The anchor can choose what to

[2021-09-10 18:54] lijamie98 commented on #476
Do we need to create a quote record if the type is `indicative`?

[2021-09-23 19:06] #492 closed

[2021-09-27 17:48] JakeUrban opened #536 "Fix rounding errors when rounding high-precision numbers"
The `decimal.Decimal`'s default precision is 28, but our DB column precision for decimal values is 30. This means that if a number stored in our database uses more than 28 digits of precision, precision could be lost when rounded using the `Decimal` class.

[code]

Example of loss of precision:
[code]

[2021-09-29 03:17] lijamie98 opened #538 "make_memo return value is not used"
https://github.com/stellar/django-polaris/blob/4d0ea8ea2a3952a7895d4363c62ddabe0afa7126/polaris/polaris/sep24/deposit.py#L387

The return value of make_memo may not be used.

[2021-09-29 03:33] JakeUrban commented on #538
This is not bug, its called to ensure the memo is valid. `request.data.get("memo")` and `request.data.get("memo_type")` are both used later in the saved `Transaction` object.

[2021-09-29 03:33] #538 closed

[2021-10-01 08:25] nikita-gorodeckij opened #539 "Wrong amount range in error message"
I think this line should be:

`_("'amount' must be within [%s, %s]") % (min_amount, max_amount)`

https://github.com/stellar/django-polaris/blob/00de9138ac043af23d1a754dd8a4516558e3f1af/polaris/polaris/sep6/deposit.py#L257

[2021-10-19 00:47] kmpartner opened #542 "polaris sep-31 send stuck at pending_sender state in kubernetes"
I have tried to test sep-31 sending using polaris (v1.0.2) in kubernetes cluster.

When I used demo-wallet and sep-31 send, transaction.asset.distribution_account is not defined and got an error in process_post_response function of sep31/transaction.py file.

when I used hard-coded transaction.asset.distribution_account value, transaction was created and send in stellar network worked.

But status

[2021-10-21 02:21] kmpartner commented on #542
Thank you for your response.
After upgrading v1.6.4, this problem was still not solved.

this is demo-wallet's post response of /transactions
{
  "id": "905bfcf1-f627-4f0e-ad4c-96c83cc9801d",
  "stellar_account_id": "GD2TGM6YDG3MXYB3IUU47KOQ64FT5I467HML6TU2SWYLSLRXMDXT3SQR",
  "stellar_memo": "AAAAAAAAAAAAAAAAAAAAAJBb/PH2J08OrUyWyDzJgB0=",
  "stellar_memo_type": "hash"
}

browser's network in deve

[2021-10-22 18:24] JakeUrban opened #545 "`GET /info` should return `feature_flags` object"
Originally reported on stellar/stellar-protocol#1073

The `features` object needs to be updated to be `feature_flags`. This will make it compliant with the protocol specification.

[2021-10-24 01:18] kmpartner commented on #542
Thank you for your responses.
After databae is changed to Postgres, and running different processes in different containers, SEP-31 send seems to start working in my kubernetes cluster.

[2021-10-28 18:04] #545 closed, assigned to JakeUrban

[2021-11-03 17:22] #476 closed

[2021-11-03 18:19] JakeUrban commented on #539
Fixed in #476

[2021-11-03 18:19] #539 closed

[2021-11-05 04:07] JakeUrban opened #555 "Design docs refactor"
The [Polaris Documentation](https://django-polaris.readthedocs.io/en/stable/) could be improved.

Aside from the SEP-24 tutorial, which is rather bare-bones, it does not do a great job of walking a developer through building the necessary steps of developing an anchor per-protocol. Developers currently have to piece together how transactions are processed by reading the integration function docstr

[2021-11-06 07:20] nikita-gorodeckij opened #556 "Requirements conflict"
### What version are you using?

I try to install 2.0.5, 2.0.6 versions.

I use pipenv and when I do `pipenv lock` I got error:

[code]

Looks like polaris dependencies conflict with stellar sdk dependencies

[2021-11-09 19:15] JakeUrban commented on #364
closing because we have a ticket for refactoring the entire docs: #555

[2021-11-09 19:15] #364 closed

[2021-11-09 20:01] JakeUrban commented on #556
Thanks for catching this @nikita-gorodeckij, thankfully it looks like the packages are still installable.

@overcat, it look like the current version of `aiohttp` is incompatible with v5 of the `stellar-sdk` based on their shared `async-timeout` dependency. Can `stellar-sdk` bump the version of `async-timeout`?

[2021-11-09 23:51] overcat commented on #556
Hi @JakeUrban, check https://github.com/StellarCN/py-stellar-base/releases/tag/5.0.1 please.

[2021-11-11 03:11] JakeUrban commented on #556
Polaris 2.0.9 now includes the updated dependencies

[2021-11-11 03:11] #556 closed

[2021-11-15 19:25] #536 closed

[2021-11-17 05:45] vahidid opened #564 "ModuleNotFoundError: No Module named polaris.sep38"
### What version are you using?
django-polaris -> 2.1.0

### What did you do?
I set up my config thoroughly by tutorial and at the issue asset step, I got an error from the library.
I run the below command for issue asset on test net.
[code]

### What did you expect to see?
According to documents ``It should output a public and secret key for both the issuer and distribution account``

### What di

[2021-11-17 06:23] JakeUrban commented on #564
Hi @vahidid, thanks for catching this. I forgot to add an `__init__.py` file to the sep38 directory which caused it to be ignored when packaging. I'll remove the 2.1 release and replace it with a patched version, 2.1.1.

[2021-11-17 06:52] vahidid commented on #564
@JakeUrban
I've done it for you :)

PR: https://github.com/stellar/django-polaris/pull/565

[2021-11-18 18:12] #564 closed

[2021-11-29 23:49] #519 closed

[2021-12-01 21:01] JakeUrban opened #571 "Handle 504 timeout errors from Horizon gracefully"
Currently, if Horizon returns a 504 response when Polaris submits a transaction, it is placed in the `error` status and is no longer processed by Polaris. This not good because the transaction could still be included in a ledger. If this happens, Polaris does not detect this and the transaction remains in the `error` status.

Instead, Polaris needs to have a sensible transaction submission and ret

[2021-12-01 21:03] JakeUrban commented on #517
Hey @yuriescl, I actually added this functionality in 2.1. Instead of returning a tuple from `content_for_template()`, Polaris looks for a `template_name` key-value pair in the dictionary returned.

[2021-12-01 21:03] #517 closed

[2021-12-01 21:04] JakeUrban commented on #365
Closing in favor of #555

[2021-12-01 21:04] #365 closed

[2021-12-07 23:11] JakeUrban opened #572 "Use custom exception classes"
Polaris currently expects anchors to raise various built-in exception classes when calling integration class functions. For example, Polaris expects `DepositIntegration.process_sep6_request()` to raise a `ValueError` if the client's request is invalid in some way that Polaris itself cannot validate.

There are two reasons why this is not ideal:

- Built-in exceptions could be unintentionally raise

[2021-12-13 02:27] kmpartner opened #574 "Configuring the database to run the example server"
### What version are you using?
polaris 2.1.0

### What did you do?
I tried to use Polaris 2.1.0 deployed in kubernetes.
sep-24 deposit did not work in demo-wallet using I created test token (when I used Polaris 1.6.4, it worked).

When I tried sep-24 deposit, Error message show
DoesNotExist at /sep24/transactions/deposit/webapp/submit
OffChainAssetExtra matching query does not exist.

How can I s

[2021-12-13 22:20] JakeUrban commented on #574
Hi @kmpartner

First I would upgrade to the latest patch release, 2.1.2.

This is also not a bug, it just sounds like you don't have the necessary database entries to run the example server successfully. Our example server demonstrates how off-chain assets can be exchanged for different on-chain assets, so the example server has some new models.

If you want to run the example server, you need to

[2021-12-14 00:37] kmpartner commented on #574
Thank you for your response,
I am not sure what is OffChainAssetExtra, and where can I save OffChainAssetExtra?
Is it in OffChainAsset?

[2021-12-14 00:51] JakeUrban commented on #574
`OffChainAssetExtra` lives in the `server.models` module. They're custom models implemented in the example app vs. Polaris' built-in models.

[2021-12-14 01:50] JakeUrban opened #576 "Design: transaction submission function interface"
Our current implementation of `CustodyIntegration` ([in development](https://github.com/stellar/django-polaris/pull/575)) doesn't account for the various cases that must be handled when submitting transactions to Stellar. This issue aims to describe an interface that the relevant functions on this base class should define in order to properly handle these cases.

There are two functions on `Custod

[2021-12-14 01:58] JakeUrban opened #577 "Generalize transaction submission blocked process"
We need to generalize the mechanism Polaris currently uses to mark transactions as "blocked" during the submission process. The reasoning is described in #576.

Polaris currently supports this mechanism specifically for transactions that require additional signatures using the `pending_signatures` boolean DB column. We can add a more generalized database column that Polaris can set when `Transacti

[2021-12-16 18:11] JakeUrban commented on #491
Now that we'll be creating a `CustodyIntegration` class, I think `.create_channel_account()` belongs on the `SelfCustodyIntegration` subclass as opposed to `DepositIntegration`.

If anchors use multi-signature distribution accounts, they can create a subclass of `SelfCustodyIntegration` and implement their approach to creating or fetching channel accounts Polaris can use to craft transactions. Thi

[2021-12-16 18:11] JakeUrban commented on #491
This is a breaking change, and therefore we'll push this change to 3.0

[2021-12-16 18:15] JakeUrban commented on #491
cc @stfung77

[2021-12-17 00:21] kmpartner commented on #574
Thank you for your response.
After using hardcoded OffCainAssetExtra values in code, OffChainAssetExtra error message was gone.
But after confirm transaction button is clicked, Only '403 forbidden' is shown on the screen.
How can I solve this problem?
Is this forbidden message caused by using SRT of https://testanchor.stellar.org ?

[2021-12-27 02:21] kmpartner opened #578 "Sep31-send not work in polaris 2.1.2"
### What version are you using?
2.1.2

### What did you do?
sep-31 send of test token by locally running anchor using docker-compose

### What did you expect to see?
finish sep-31 send

### What did you see instead?
stellar transaction takes place, but sep-31 send does not finish.
transaction's status not changed from pending_sender.

How can I solve this problem?

anchor's log keep displaying
ser

[2021-12-27 11:23] yuriescl commented on #578
@kmpartner Did you run `watch_transactions`? If yes, can you check if the logs contain any info about the Stellar transaction?

[2021-12-27 23:54] kmpartner commented on #578
Thank you for your response.
After looking at logs of watch_transactions container. Only errors were shown.

I added environment variables in docker-compose.yaml file only in server container.

After adding variables to other containers in the YAML file, sep-31 send finished.
Thank you very much

[2021-12-28 01:20] #578 closed

[2021-12-28 02:10] kmpartner commented on #574
After changing OffChainAssetExtra values and environment variables.
'fobidden' message disappeared, but sep-24 deposit did not work.

After confirm transaction button is clicked, Screen's Transaction Status did not change from 'waiting on the user to transfer funds'.

transaction status did not change from 'pending_user_transfer_start', and anchor's log keep showing,
'server

[2021-12-28 15:15] yuriescl commented on #574
You must implement `DepositIntegration.poll_pending_deposits` in order to tell Polaris which deposits were received from the user.
You also need to run `process_pending_deposits`. Are you getting any errors when running it?

[2021-12-29 20:38] yuriescl opened #579 "How to add URL parameters in SEP-24"
I couldn't find a way to add query params to the URL during the SEP-24 interactive flow.
`form_for_transaction` and `content_for_template` just allow returning the form and template content, but not set additional URL parameters.
It's difficult to add previous/next buttons to the form without setting some URL parameter to identify which part of the flow the user is at the moment.
I'd like to have

[2021-12-30 01:51] kmpartner commented on #574
How can I implement DepositIntegration.poll_pending_deposits?
process_pending_deposits command exists in inpolaris/polaris/management/commands folder, but there is no command for poll_pending_deposits.

[2021-12-30 16:01] yuriescl commented on #574
Sorry I mistyped, it's actually [RailsIntegration.poll_pending_deposits](https://django-polaris.readthedocs.io/en/stable/sep6_and_sep24/index.html#polaris.integrations.RailsIntegration.poll_pending_deposits).
When you run `python manage.py process_pending_deposits`, Polaris will run `RailsIntegration.poll_pending_deposits`. In there you need to implement your own logic to determine which deposits

[2021-12-30 16:02] yuriescl commented on #574
Polaris has an example implementation at https://github.com/stellar/django-polaris/blob/master/example/server/integrations/rails.py#L25

[2022-01-04 00:09] JakeUrban commented on #579
Hi @yuriescl,

Why does `currentStep` need to be stored in the URL instead of in the users's session cookie or the database?

For example, I could add two forms to my base template, one for "Previous" and one for "Next" and they would POST to different endpoints:

[code]

Then `/next` and `/previous` endpoints would increment or decrement `request.session['current_step']` and redirect to `/transac

[2022-01-04 02:18] yuriescl commented on #579
That's a great point.
One of the challenges I faced was to implement a multiple step interactive flow in SEP-24, in which the user could press the back button, change something, then go forward again, etc. One of my ideas to control the flow was to add a step variable in the URL, but your idea would also work. The only limitation I can imagine with that is if the user disabled cookies for some rea

[2022-01-05 13:14] yuriescl commented on #574
I would review the settings first, check `STELLAR_NETWORK_PASSPHRASE` and `HORIZON_URI` variables, they should point to testnet/public depending on your environment.

[2022-01-07 01:48] kmpartner commented on #574
Thank you for your response,
When deployed Polaris using kubernetes in the cloud environment, sep-24 deposit for some assets succeeded. But when trying sep-24 deposit locally using docker-compose, "tx_bad_auth" error in **process_pending_deposits** still remains because of unknown reasons.

Why is there no place for OffChainAssetExtra creation on the Polaris admin UI?

[2022-01-07 03:11] yuriescl commented on #579
@JakeUrban I think there might be an issue with the web browser back/forward buttons when using the session to store the step.
If the user presses the browser back button and it goes to the same URL, how would I know he went back a step?

[2022-01-07 16:32] JakeUrban commented on #579
Hi @yuriescl, you're right, you'd need the GET request to contain an indication that the user went back in that case.

We can add a key, `url_args`, to the dictionary returned from `content_for_template()`. The value of the key should be a dictionary that can be passed to `urllib.parse.urlencode()`. Polaris will append the result of that call to the URL Polaris redirects to after processing each P

[2022-01-07 16:35] JakeUrban commented on #579
Actually, there would be a way for you to change the initial URL. Polaris provides a `DepositIntegration.interactive_url()` function that is called on every GET request to the interactive flow.

[code]

[2022-01-11 18:59] stfung77 commented on #571
Diagrams for the transaction processing logic:
![image](https://user-images.githubusercontent.com/11511032/149004726-a08be5c6-86ee-4ce4-b3fc-a91eb4a0fa18.png)
![image](https://user-images.githubusercontent.com/11511032/149004746-079ae493-3aa0-4bdf-aba3-d3ed48ee0acb.png)

[2022-01-11 19:19] JakeUrban commented on #577
We're doing this as a part of #576 so I'll close this as a duplicate.

[2022-01-11 19:19] #577 closed

[2022-01-13 15:57] yuriescl commented on #579
This creates an infinite redirect loop

[2022-01-13 16:00] yuriescl commented on #579
This worked for me:
[code]

[2022-01-13 16:05] yuriescl commented on #579
It should be easier to control the URL params, though.

[2022-01-13 17:21] JakeUrban commented on #579
@yuriescl I'll keep this issue open for adding that functionality, glad to hear you have a temporary workaround though

[2022-01-13 21:22] JakeUrban opened #586 "Upgrade to the most recent Python minor version"
Python 3.7 has entered the _security_ phase, meaning no more bug fixes or features will be added. See the [PEP](https://www.python.org/dev/peps/pep-0537/#id9) for specific dates.

While the end of life date for Python 3.7 is June of 2023, upgrading also allows Polaris to utilize the latest features.

[2022-01-13 21:34] #555 closed

[2022-01-14 01:18] kmpartner commented on #574
By the way, I tested sep-31 send locally and that works using demo-wallet.
I have questions about sep-38 integration in sep-31.

How can I implement sep-38 in sep-31 send?
I don't find to fill destination_asset in sep-31 sending modal in demo-wallet.

I tested sep-38 endpoints using locally running Polaris as well.
When I requested /prices endpoint, prices are returned but returned prices seem to

[2022-01-14 13:35] yuriescl commented on #579
After a few more tests, I see there's an issue when the form is invalid. Polaris [won't add my](https://github.com/stellar/django-polaris/blob/master/polaris/polaris/sep24/withdraw.py#L232) `step` parameter to the post URL, and what ends up happening is the browser goes back to the same page before going back to the previous page (because the URL is different - missing the step parameter). So I ha

[2022-01-14 18:23] stfung77 opened #588 "add end to end tests for transaction processing logic"
Currently there are unit tests in polaris but there are no tests that test the lifecycle of the transaction processing logic. We should add some tests for this.

TODO: add details and diagrams for how this testing will work

[2022-01-14 18:27] stfung77 opened #589 "benchmark how many transactions polaris can handle"
Would be nice to add some benchmarking on how many transactions polaris can handle. we should also benchmark and maintain the stats for every polaris release to check for any significant performance degradation.

The benchmarking can be achieved by reusing the end-to-end tests mentioned in issue #588

[2022-02-22 17:19] stfung77 commented on #589
RESULTS:

**Test #1: Polaris Deposit End-to-End Test with Pre-Created Stellar Accounts and Trustlines**

Test Steps:
===========================================
Test Logic - get auth token from Polaris
Test Logic - create new user in Polaris
Test Logic - create Polaris deposit transaction (via Polaris API Server) with a Stellar account that already exists with the appropriate trustline
Polaris - p

[2022-02-22 17:23] #589 closed

[2022-02-22 17:27] stfung77 opened #595 "Add channel accounts support for transaction submission"
Based on results from load testing deposit transaction submission in Polaris (https://github.com/stellar/django-polaris/issues/589), it can be seen that transaction throughput is currently limited by Polaris only being able to submit one transaction at a time.

With the addition of channel accounts, Polaris will be be able to submit transactions to the Stellar Network in parallel (based on the num

[2022-02-22 18:58] reecexlm opened #596 "Channel Payments Design"

[2022-03-03 18:15] #576 closed

[2022-03-03 18:42] #571 closed

[2022-03-04 01:25] JakeUrban commented on #596
@stfung77 This is a great write-up.

### Command / Script

I'd like to take step back and ask, do we really need this? My gut says "This is what Django's admin UI is for". If you're unfamiliar with the Django Admin UI, check [this](https://www.youtube.com/watch?v=1PkNiYlkkjo&ab_channel=CoreySchafer) out.

The reason we haven't used this in the past is because we didn't ever want the login page to

[2022-03-08 19:56] stfung77 commented on #596
Discussed with @JakeUrban last week and settled on the following:

- distribution account will also sponsor the channel account's reserves
- hold off on adding Asset support to the cli tool (future work) which will support other data models as well.
- DB changes - new table that will store Stellar account (distribution accounts/ channel accounts, etc..)
- Use derived keys for channel accounts (htt

[2022-03-11 18:47] JakeUrban opened #603 "Upgrade Stellar SDK for Protocol 19"
We need to upgrade the Stellar SDK and make a new release before the mainnet launch of Protocol 19.

[2022-03-20 00:25] yuriescl opened #604 "SEP-24 allows SEP-10 tokens generated by any account"
I generated a SEP-10 token using an account (not muxed), and then used that SEP-10 token in a SEP-24 deposit call. It successfully gave me a interactive URL response.
Is this an expected behavior? Shouldn't SEP-24 only allow depositing only to the same account authenticated in SEP-10?

[2022-04-05 19:47] JakeUrban commented on #604
Hi @yuriescl, this is the expected behavior. It supports the case where the user's funds are held by an account that cannot be used to authenticate via SEP-10.

For example, if a custodial wallet uses Circle or Fireblocks to custody their users' funds, the wallet cannot use the account held by the custody service in SEP-10 because the wallet doesn't have access to the secret key.

In this case, th

[2022-04-05 19:57] JakeUrban commented on #586
The obvious caveat is that we will only upgrade Polaris to the latest minor version _that is supported by all dependencies_.

[2022-04-20 16:52] JakeUrban opened #613 "`process_pending_deposits` uses Unix-specific python standard library functions"
Polaris uses the [`loop.add_signal_handler()`](https://docs.python.org/3/library/asyncio-eventloop.html#asyncio-event-loop) function, which is a unix-specific function since Windows does not have signals.

Running `process_pending_deposits` on a windows machine will result in an immediate crash of the program with a `NotImplementedError`.

We need to refactor the graceful cleanup logic to use os-a

[2022-04-20 17:03] Unique-coder commented on #613
Thanks for taking it up @stfung77

[2022-04-28 23:39] stfung77 commented on #613
@Unique-coder would you mind testing the change in this PR (https://github.com/stellar/django-polaris/pull/615)? None of us have a windows setup handy to test this out.

[2022-04-28 23:56] Unique-coder commented on #613
Alright @stfung77. I will test it out get back to you

[2022-05-02 21:16] stfung77 commented on #613
Hey @Unique-coder, did you get a change to test this out? we're trying to release in the next day or two so let us know if you don't have the bandwidth to test this. thanks!

[2022-05-04 19:20] JakeUrban commented on #586
Thinking more about this, it is common practice for libraries and frameworks to support all Python versions that have not reached end-of-life. The [Stellar SDK](https://stellar-sdk.readthedocs.io/en/stable/) still supports Python 3.6+, for example.

So, I think we will continue to support Python 3.7+ until 3.7 reaches end-of-life in June 2023.

[2022-05-04 19:20] #586 closed

[2022-05-04 19:50] JakeUrban commented on #491
Closing because we're planning on changing the interface for using channel accounts, and this function will likely be removed.

[2022-05-04 19:50] #491 closed

[2022-05-04 19:54] JakeUrban commented on #574
Hi @kmpartner, unfortunately the demo wallet doesn't support SEP-38 yet, so you cant test your Polaris SEP-38 support with it.

[2022-05-04 19:54] #574 closed

[2022-05-04 20:09] JakeUrban opened #620 "SEP-24: Add first-class support for using non-Polaris interactive flows"
Polaris offers a flexible framework for building SEP-24 interactive flows, but it is common for developers to use Polaris purely as a backend service, and instead build their SEP-24 interactive flows using other tools like React.

Polaris offers support for this through its `DepositIntegration.interactive_url()` integration function (or `WithdrawalIntegration.interactive_url()`. If a URL is return

[2022-05-10 21:03] stfung77 commented on #613
tested #615 on windows and its working

[2022-05-10 21:03] #613 closed

[2022-05-13 15:14] JakeUrban commented on #620
Because anchors may collect information Polaris doesn't know how to process during the interactive flow, Polaris will have an additional integration function on `DepositIntegration` and `WithdrawalIntegration`, likely `after_interactive_flow()` or something similar, that will be passed the request body sent to the endpoint.

This will allow anchors to send arbitrary data to the endpoint and proces

[2022-05-13 15:15] JakeUrban commented on #620
cc @Unique-coder

[2022-05-13 15:45] Unique-coder commented on #620
Sounds awesome. Looking forward to testing Mode.

[2022-05-26 17:42] #603 closed

[2022-06-09 16:06] nikita-gorodeckij opened #637 "Network passphrase is necessary"
https://github.com/stellar/django-polaris/blob/73f4bbe7f874f67ad3f6d6476c64feb2f6dd3c83/polaris/management/commands/process_pending_deposits.py#L711

This line fails because network_passphrase if necessary arg for TransactionEnvelope.from_xdr method

[2022-06-09 16:11] nikita-gorodeckij commented on #637
This line made broken all deposits for client with claimable balance support. Please fix it ASAP.

[2022-06-09 17:21] #637 closed

[2022-06-09 17:59] JakeUrban commented on #637
Hi @nikita-gorodeckij, version 2.3.1 has been released with a patch. Thanks for pointing this out.

[2022-06-09 19:10] nikita-gorodeckij opened #640 "Deposits completed but polaris says they failed"
https://github.com/stellar/django-polaris/blob/a2bdb49c3a48bd3a6f9a74e7b7b342769c0db164/polaris/management/commands/process_pending_deposits.py#L602

Why don't you use submit response?

Looks like it is not great solution to retrieve details from horizon right after submit - there's a high probability to get NotFoundError.

I don't know exactly how horizon works, but looks like there are a bunch o

[2022-06-09 20:09] JakeUrban commented on #640
Hi @nikita-gorodeckij,

Polaris doesn't use the submit response because Polaris supports using third-party custodians. So if I use Polaris for my anchor but I use Circle or Fireblocks for my custody, I won't have a submit response, I'll just have the transaction hash.

[2022-06-09 21:18] JakeUrban commented on #640
But if this is what you're seeing in the application's behavior, you might be right. Let me follow up with the Horizon team to see if this is likely.

The fix would be to retry the request until the transaction is found. If the transaction isn't found have X retries or Y seconds, fail. What do you think?

[2022-06-09 21:25] JakeUrban commented on #640
Wait @nikita-gorodeckij, in your example, `ea393ff2-e8bf-4f0b-bcb1-2f919feb952b` is not a valid transaction hash or ID. Trying to fetch a transaction with this ID would certainly fail.

[2022-06-10 02:56] nikita-gorodeckij commented on #640
@JakeUrban It is not transaction hash. It is valid uuid. It is output from this line

https://github.com/stellar/django-polaris/blob/73f4bbe7f874f67ad3f6d6476c64feb2f6dd3c83/polaris/management/commands/process_pending_deposits.py#L727

[2022-07-19 01:53] ajuricabense opened #644 "ENABLE_SEP_0023="true" missing on documentation"
### What version are you using?
2.3.1

### What did you do?
The documentation of version 2.3.1 of the environmental variables did not specify to add: ENABLE_SEP_0023="true", which raises the error:

File "/home/alfredo/MEGA_c/2021_2022/Alpaca/stellar/virtualenv/lib/python3.8/site-packages/polaris/apps.py", line 66, in check_sep23_supported
    raise ImproperlyConfigured(
django.core.exceptions.Imp

[2022-07-19 09:26] nikita-gorodeckij opened #645 "SEP-6: `Asset.distribution_account` is always used as anchor's receiving address"
I want to use muxed accounts as anchor receiving account instead account+memo

Validation here doesn't allow me to do it
https://github.com/stellar/django-polaris/blob/2420d6d97e32ee720957c5020f250618740d4371/polaris/sep6/withdraw.py#L114

Are there any reasons to not allow to use MuxedAccount here? It looks much comfortble for users than memo - many of them forget to attach it to the transaction

[2022-07-19 09:38] nikita-gorodeckij commented on #645
Also there is no any sense in this line
https://github.com/stellar/django-polaris/blob/v2.3.1/polaris/sep6/withdraw.py#L115

because `receiving_account` not overwrite `account_id` which sets here https://github.com/stellar/django-polaris/blob/v2.3.1/polaris/sep6/withdraw.py#L294

[2022-07-19 16:17] JakeUrban commented on #645
Hi @nikita-gorodeckij,

The second line you point out is a bug, thanks for pointing that out, but the first is not.

The [standard](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0006.md#1-success-no-additional-information-needed-1) doesn't support using muxed accounts as receiving addresses for withdrawals. I think we'd need to discuss this at the protocol level before I ch

[2022-07-19 16:19] JakeUrban commented on #645
I'll update the code to ensure the correct receiving address is used. This is the one that comes from `get_receiving_account_and_memo()`. It defaults to `asset.distribution_account` anyway.

[2022-07-19 16:26] JakeUrban commented on #645
I'm going to change the title of the issue to highlight the bug that needs fixing here. But I'll open an issue on the protocol repo to discuss your use of muxed accounts.

[2022-07-19 16:35] JakeUrban commented on #644
Actually, this check was removed in v2.3, are you sure you're using the latest version?

[2022-07-19 16:35] JakeUrban commented on #644
https://github.com/stellar/django-polaris/pull/617

[2022-07-19 17:15] ajuricabense commented on #644
@JakeUrban How can I check the version I am using? to be sure.

[2022-07-19 17:19] JakeUrban commented on #644
It should be in your requirements lock file like `poetry.lock` or `pipenv.lock`, or just `requirements.txt`

[2022-07-19 17:34] ajuricabense commented on #644
@JakeUrban You are correct, I made a mistake, my version is django-polaris==2.2.0

[2022-07-19 17:37] JakeUrban commented on #644
No problem! I'll close the issue.

[2022-07-19 17:37] #644 closed

[2022-07-19 18:27] #645 closed

[2022-07-19 18:28] JakeUrban commented on #640
Hi @nikita-gorodeckij, you're right about the transaction ID, my mistake. Have you been experiencing this issue still?

[2022-07-19 20:37] JakeUrban opened #648 "CLI command for callback requests"
### What problem does your feature solve?

Polaris makes callback requests to remote servers when requested in SEP-6 & 24 transactions. Callbacks have now been added to SEP-12 & SEP-31, and on top of that, the standards now recommend that anchors include a header with their signature to verify authenticity.

Polaris needs to be updated to support these changes, but as the use of callbacks increase

[2022-07-20 03:12] ajuricabense opened #649 "Documentation Enable Hosted Deposits"
This is an issue about documentation. Please let me know how to report issues specific to documentation, because I didn't find any option to perform.

In the section Enable Hosted Deposits & Withdraws/Processing Form Data it shows to implement the file:

    from decimal import Decimal
    from django import forms
    from rest_framework.request import Request
    from polaris.models import Transa

[2022-07-20 16:38] JakeUrban commented on #649
Hi @ajuricabense, I can update this, but it doesn't really matter where this file is in your project. You just need to be able to import it in your `apps.py` file so you can register the integration subclass.

[2022-08-11 17:06] #640 closed

[2022-08-16 20:13] JakeUrban opened #653 "watch_transactions: support fee-bump transactions"
### What problem does your feature solve?

If a wallet or SEP-31 sender uses fee-bump transactions to initiate a withdrawal or remittance, Polaris' `watch_transactions` transaction streamer will fail to deserialize it.

### What would you like to see?

We need to add support for streaming these fee-bump transactions.

[2022-08-17 14:29] #653 closed

[2022-10-10 10:36] yanielbf opened #659 "Never send incoming payment to stellar network"
### What version are you using?

I am using the las version of polaris 2.3.4

### What did you do?

I am implementing an anchor using django-polaris. I have followed the documentation which indicates. I'm using the demo-wallet to test the anchor and it creates the transaction for me but leaves it in the "pending_user_transfer_start" state. I am executing the command "python app/manage.py process_p